#chipViewer {
    display: block;
    height: 300px;
    width: 500px;
    color: white;
    border: 1px solid white;
    margin: 0;
    padding: 10px;
}

.loadChipModalButtonsSpan {
    display: flex;
    flex-direction: row;

}
.loadChipModalButton{
    width: 150px;
    height: 45px;

    margin: 15px;

    border-radius: 5px;
    border: none;

    background: darkslategray;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.file-upload-button {
    width: 150px;
    height: 45px;
    line-height: 45px;
    margin: 15px;
    

    border-radius: 5px;
    border: none;
    text-align: center;
  


    background: darkslategray;
    color: white;
    font-weight: bold;
    font-size: 14pt;
}