/*
    This is the css to style the ToolBar
*/

.toolBar {
 
    background-color: grey;

    height: 70px;
    }

.toolBar a {
    text-decoration: none;
    font-size: 50px;
    color: white;
    margin: 10px;
}
.toolBar a:hover {
    color: rgb(27, 26, 26);
}

.toolBarDivider {
    display: inline-block;
    height: 100%;
    border-right: 6px solid #333;
    margin: 0 5px 0 5px;
    padding: 0px;
    
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    top: 105%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    font-size: 12pt;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

select {
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
}
