/*
    This is the css to style the ToolBar
*/

.toolBar {
 
    background-color: grey;


    }

.toolBar a {
    text-decoration: none;
    font-size: 50px;
    color: white;
    margin: 10px;
}
.toolBar a:hover {
    color: rgb(27, 26, 26);
}

.toolBarDivider {
    display: inline-block;
    height: 100%;
    border-right: 6px solid #333;
    margin: 0 5px 0 5px;
    padding: 0px;
    
}