.App {
  text-align: center;
}

.Table {
  margin-left:auto; 
  margin-right:auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#mainWindow {
  display: grid;

  grid-template-columns: 50% 50%;
  grid-template-rows: 115px auto 30px; 

  height: 100vh;
  width: 100vw;
}


#headerDiv {
  grid-column-start: 1;
  grid-column-end: 3;
}

#mainDiv {
  
  /* background-color: red; */
}

.halfDiv {
margin: 0px;
  /* border: 5px solid blue; */
  background-color: #333;
  color: white;
  height: 100%;
}

#footerDiv {
  grid-column-start: 1;
  grid-column-end: 3;
  background: grey;

}

#pinsHdlDiv {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:  40px auto auto;

  height: 100%;

}

#pinsHdlDiv .NameBox {
  grid-column-start: 1;
  grid-column-end: 3;
}